@model IEnumerable<MVCAttendanceSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "setting";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("TakeAttendance", "Security",FormMethod.Get))
{
    <hr />
    <br />
    <div class="form-group">
        @Html.Label("Department", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.Label("Date", new { @class = "col-md-2 control-label" })
        <div>
            <input class="form-control" type="datetime" value="@DateTime.Now" disabled="disabled" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Show" />
        </div>
    </div>
    <br />
}

