@model MVCAttendanceSystem.Models.Attendance

@{
    ViewBag.Title = "AttendanceBySpecificDate";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("GetAttendanceBySpecificDate","Admin"))
{
    <hr />
    <br />
    <div class="form-group">
        @Html.Label("Department", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Show" />
        </div>
    </div>
    <br />
}



