@model List<MVCAttendanceSystem.Models.Attendance>
@{
    ViewBag.Title = "AttendanceBySpecificDate";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Arrival Time</th>
            <th>Exit Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.applicationUser.UserName</td>
                <td>@item.ArrivalTime</td>
                <td>@item.ExitTime</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.ActionLink("Change Date", "AttendanceBySpecificDate")
